.c-image {
  overflow: hidden;

  &.c-lazy {
    background-color: rgba(255, 255, 255, 0.02);
  }
}

.c-image_img {
  .c-image.c-lazy & {
    opacity: 0;
    transition: opacity 600ms ease('power2.out');
  }

  .c-image.c-lazy.-lazy-loaded & {
    opacity: 1;
  }
}
