// ==========================================================================
// Components / Loader
// ==========================================================================

.c-loader {
  @include wfDesignMode {
    display: none !important;
  }

  html.is-ready & {
    opacity: 0;
    visibility: hidden;
  }
}
