// ==========================================================================
// Components / Wysiwyg
// ==========================================================================

.c-wysiwyg {
  & > *:first-child {
    margin-top: 0;
  }

  ul {
    list-style: none;
  }

  li:before {
    content: '•';
    color: currentColor;
    display: inline-block;
    width: 1em;
  }
}
